.audioSliders {
  margin-bottom: 1rem;
}

.masterSlider,.headphoneSlider,.micSlider {
  margin: .5rem; //.5
  margin-top: -1rem; //1
  margin-bottom: 0rem; //2
}

.addPadding {
  padding: 0 .6rem; //.3
}

.masterSlider scale trough highlight, .headphoneSlider scale trough highlight , .micSlider scale trough highlight {
  border-radius: 15px; //15
}

.masterSlider scale trough, .headphoneSlider scale trough , .micSlider scale trough {
  background-color: $blackAlt;
  border-radius: 1rem; //1
  min-width: 1.8rem; //1.8
}

.masterSlider scale trough highlight {
  background-color: $yellow; 
}

.headphoneSlider scale trough highlight {
  background-color: $yellow; 
}

.micSlider scale trough highlight {
  background-color: $yellow; 
}

.audioIcon {
  font-family:  'JetbrainsMono Nerd Font Mono';
  font-size: 1.8rem; //1.8
  margin-bottom: 2rem; //2
  padding: 0 1.2rem; //1.2
  background-color: $blackAlt;
  border-radius: 50%; //50
  color: $lightGrey;
}
