* {
  all: unset;
}

.brightness {
  padding: 0 1rem; //1
  margin-bottom: -2rem; //-2
}

.brightness scale trough highlight {
  background-color: $yellow; 
  border-radius: 10px;
}

.brightness scale trough {
  background-color: $grey;
  border-radius: 1rem;
  min-width: 16rem;
  min-height: .3rem; //.3rem
}
