.fetchContent {
  padding: 2rem 0;
  font-family: 'Comic Mono';
  color: $white;
  border-right: 2px solid $grey;
}

.logo {
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 6rem; // 6
  color: $purple;
}

.fetch {
  background-color: $blackAlt;
  border-radius: 1rem; // 1
  margin-bottom: 2rem; // 2
  margin-top: .6rem; // .6
}

.fetchTitles {
  color: $blue;
  padding-right: 1rem
}

.hdd {
  margin: 1rem;
}
