.close , .min , .max{
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 1.9rem; //1.9
  padding: 0 0.3rem; //0.3
  color: $red;
}

.min {
  color: $yellow;
}

.close:hover , .min:hover{
  background-color: $grey;
  color: $white;
  border-radius: 10%; 
}
